/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 16px !important;
}
input[type='text'],
input[type='number'] {
  font-size: 16px !important;
}
