@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$mat-ilmstudiosgreen: (
  50: #f3f9e6,
  100: #e0efc0,
  200: #cbe596,
  300: #b6da6c,
  400: #a7d24d,
  500: #97ca2d,
  600: #8fc528,
  700: #84bd22,
  800: #7ab71c,
  900: #69ab11,
  A100: #eeffda,
  A200: #d6ffa7,
  A400: #bfff74,
  A700: #b3ff5b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ilmstudios-primary: mat-palette($mat-ilmstudiosgreen, 600);
$ilmstudios-accent: mat-palette($mat-ilmstudiosgreen, 700);
$ilmstudios-warn: mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
$ilmstudios-theme: mat-light-theme(
  $ilmstudios-primary,
  $ilmstudios-accent,
  $ilmstudios-warn
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ilmstudios-theme);
