<mat-card>
  <mat-card-header style="flex-direction: column !important;">
    <mat-card-title class="centered">About ILM Studios</mat-card-title>
  </mat-card-header>
  <mat-card-content class="centered">
    <p>ilm studios is a software consulting firm based out of chicago, in and around
      devon
    </p>
    <p>request a quote for a project today, email <a href="mailto:h@ilmstudios.com">h@ilmstudios.com</a></p>
  </mat-card-content>
</mat-card>