table {
  width: 100%;
}

.offset {
  margin-top: 15px;
}

body {
  font-size: 2.9em;
}

@media (min-width: 400px) {
  .mat-cell,
  .mat-header-cell {
    font-weight: 400;
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .mat-cell,
  .mat-header-cell {
    font-weight: 400;
    font-size: 1em;
  }
}

th {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  color: #ffffff;
  background-color: #97ca2d;
}

tr:nth-child(even) {
  color: #ffffff;
  background-color: #4bb5c2;
}

.white-text {
  color: #ffffff;
  font-weight: bold;
}

.black-text {
  color: #000000;
}

p {
  font-size: 1.5vh;
}

/* td.mat-cell:first-child,
  td.mat-footer-cell:first-child,
  th.mat-header-cell:first-child {
    padding-left: 10px !important;
  }
  
  td.mat-cell:last-child,
  td.mat-footer-cell:last-child,
  th.mat-header-cell:last-child {
    padding-right: 10px !important;
  } */

td.mat-cell,
th.mat-header-cell {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 5px !important;
}

.flex-lg {
  flex: 1.5;
}
