<table mat-table [dataSource]="dataSource">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Masjid Column -->
  <ng-container matColumnDef="masjid">
    <th mat-header-cell *matHeaderCellDef> Masjid </th>
    <td mat-cell *matCellDef="let prayerUpdate"> {{prayerUpdate.masjidName}} </td>
  </ng-container>

  <!-- Prayer Column -->
  <ng-container matColumnDef="prayer">
    <th mat-header-cell *matHeaderCellDef> Prayer </th>
    <td mat-cell *matCellDef="let prayerUpdate"> {{prayerUpdate.prayer}} </td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let prayerUpdate"> {{prayerUpdate.time}} </td>
  </ng-container>

  <!-- Approve Column -->
  <ng-container matColumnDef="approve">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let prayerUpdate">
      <button mat-icon-button (click)="approve(prayerUpdate)">
        <mat-icon>check</mat-icon>
      </button></td>
  </ng-container>

  <!-- Deny Column -->
  <ng-container matColumnDef="deny">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let prayerUpdate">
      <button mat-icon-button color="warn" (click)="deny(prayerUpdate)">
        <mat-icon>clear</mat-icon>
      </button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>