<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item [routerLink]="['/prayer-times']">Prayer Times</a>
      <a mat-list-item *ngIf="auth.isLoggedIn()" [routerLink]="['/submit-update']">Submit Update</a>
      <a mat-list-item *ngIf="auth.isAdmin()" [routerLink]="['/pending-updates']">Pending Updates</a>
      <a mat-list-item *ngIf="!auth.isLoggedIn()" [routerLink]="['/log-in']">Log In</a>
      <a mat-list-item *ngIf="auth.isLoggedIn()" (click)="auth.signOut()">Log Out {{auth.currentUser.email}}</a>
      <a mat-list-item [routerLink]="['/feature-development']">Feature Development</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleNav(drawer)" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>ilm studios - chicago prayer times</span><br />
      </mat-toolbar-row>
      <mat-toolbar-row class="centered-toolbar">
        <span>{{todaysDateAndSunset}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>