.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.centered-toolbar {
  height: 25px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}
