<div class="centered">
  <div>
    {{data.masjid.name}}
  </div>
  <div style="font-weight: bolder; padding-top: 15px;">
    {{data.prayer}}
  </div>
  <br />
  <div>
    <button mat-raised-button class="circleButton">
      <mat-icon (click)="subtract()">remove</mat-icon>
    </button>
    <label>{{tempTime}}</label>
    <button mat-raised-button class="circleButton">
      <mat-icon (click)="add()">add</mat-icon>
    </button>
  </div>
  <br />
  <button mat-raised-button style="margin-right: 50px" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>