<mat-card>
  <!-- <mat-card-header style="flex-direction: column !important;">
    <mat-card-title class="centered">Log In</mat-card-title>
  </mat-card-header> -->
  <mat-card-content class="centered">
    <button mat-raised-button (click)="auth.googleLogin()">
      <img src="/assets/img/signin_with_google.png" style="width:100%">
    </button>
    <!-- <form autocomplete="off" [formGroup]="loginForm">
      <div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" formControlName="email">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
        </div>
      </div>
    </form> -->
  </mat-card-content>
  <!-- <mat-card-actions class="toTheRight">
    <button mat-raised-button (click)="emailLogin()">Log In</button>
  </mat-card-actions> -->
</mat-card>