<mat-card>
  <mat-card-header style="flex-direction: column !important;">
    <mat-card-title class="centered">Submit Update</mat-card-title>
  </mat-card-header>
  <mat-card-content class="centered">

    <div>
      <form [formGroup]="submitPrayerUpdateForm">
        <div>
          <mat-form-field>
            <mat-select placeholder="Select Masjid" formControlName="masjidId">
              <mat-option *ngFor="let masjid of masjids" [value]="masjid.id">
                {{masjid.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-select placeholder="Select Prayer" formControlName="prayer">
              <mat-option *ngFor="let prayer of prayers" [value]="prayer">
                {{prayer}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Time" formControlName="time">
            <mat-hint>Enter time as hh:mm</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions class="toTheRight">
    <button mat-raised-button (click)="submitForm()" [disabled]="submitPrayerUpdateForm.invalid">Submit</button>
  </mat-card-actions>
</mat-card>