<table mat-table multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Expand Column -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef class="flex-sm"></th>
    <td mat-cell *matCellDef="let masjid" class="flex-sm">
      <button mat-icon-button (click)="expandedElement == masjid ? expandedElement = null : expandedElement = masjid">
        <mat-icon *ngIf="expandedElement != masjid">expand_more</mat-icon>
        <mat-icon *ngIf="expandedElement == masjid">expand_less</mat-icon>
      </button></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Masjid </th>
    <td mat-cell *matCellDef="let masjid">
      {{masjid.name}}</td>
  </ng-container>

  <!-- Fajr Column -->
  <ng-container matColumnDef="fajr">
    <th mat-header-cell *matHeaderCellDef> Fajr </th>
    <td mat-cell *matCellDef="let masjid" (click)="auth.isAdmin() && openDialog(masjid, 'Fajr')"> {{masjid.fajr}}</td>

  </ng-container>

  <!-- Zuhr Column -->
  <ng-container matColumnDef="zuhr">
    <th mat-header-cell *matHeaderCellDef> Zuhr </th>
    <td mat-cell *matCellDef="let masjid" (click)="auth.isAdmin() && openDialog(masjid, 'Zuhr')"> {{masjid.zuhr}} </td>
  </ng-container>

  <!-- Asr Column -->
  <ng-container matColumnDef="asr">
    <th mat-header-cell *matHeaderCellDef> Asr </th>
    <td mat-cell *matCellDef="let masjid" (click)="auth.isAdmin() && openDialog(masjid, 'Asr')"> {{masjid.asr}} </td>
  </ng-container>

  <!-- Isha Column -->
  <ng-container matColumnDef="isha">
    <th mat-header-cell *matHeaderCellDef> Isha </th>
    <td mat-cell *matCellDef="let masjid" (click)="auth.isAdmin() && openDialog(masjid, 'Isha')"> {{masjid.isha}} </td>
  </ng-container>

  <!-- Jummah Column -->
  <ng-container matColumnDef="jummah">
    <th mat-header-cell *matHeaderCellDef> Jummah </th>
    <td mat-cell *matCellDef="let masjid"> {{masjid.jummah}}
      <br /> {{masjid.jummah2}}
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let masjid" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="masjid == expandedElement ? 'expanded' : 'collapsed'">
        {{masjid.address}}
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let masjid; columns: displayedColumns;" class="example-element-row "
    [class.example-expanded-row]="expandedElement === masjid"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>