table {
  width: 100%;
}

.offset {
  margin-top: 15px;
}

body {
  font-size: 2.6em;
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
  z-index: 99;
}

@media (min-width: 400px) {
  .mat-cell,
  .mat-header-cell {
    font-weight: 400;
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .mat-cell,
  .mat-header-cell {
    font-weight: 400;
    font-size: 1em;
  }
}

th {
  background-color: #ffffff;
}

tr {
  color: #ffffff;
  background-color: #97ca2d;
}

tr:nth-child(4n + 1),
tr:nth-child(4n + 2) {
  color: #ffffff;
  background-color: #4bb5c2;
}

.white-text {
  color: #ffffff;
  font-weight: bold;
}

.black-text {
  color: #000000;
}

p {
  font-size: 1.5vh;
}

/* td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
  padding-left: 10px !important;
}

td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
  padding-right: 10px !important;
} */

td.mat-cell,
th.mat-header-cell {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 5px !important;
}

.flex-lg {
  flex: 1.5;
}

.flex-sm {
  flex: 0.5;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
